.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 70vh;
  -webkit-column-gap: clamp(100px, 300px, 10vw);
          column-gap: clamp(100px, 300px, 10vw);
  max-width: 1400px;
  padding: 0 50px;
}

.main-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.container {
  position: relative;
}

.box {
  position: absolute;
  width: 150px;
  height: 150px;
  border: 20px solid yellow;
  bottom: -50px;
  left: -50px;
  z-index: -1;
  -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.4);
}

.bgtext {
  position: absolute;
  pointer-events: none;
}

.bgtext h1 {
  font-family: 'Anton', sans-serif;
  font-size: 400px;
  opacity: 0.2;
}

.img {
  overflow: hidden;
  height: 55vh;
  border: 5px solid black;
  width: 30vw;
}

.img :nth-child(3) {
  height: 100%;
}

.img :nth-child(1), .img :nth-child(2) {
  position: absolute;
  height: 30px;
  -webkit-transform: rotateZ(60deg);
          transform: rotateZ(60deg);
}

.img :nth-child(2) {
  -webkit-transform: rotateZ(0deg) !important;
          transform: rotateZ(0deg) !important;
}

.weird {
  position: absolute;
  color: white;
  top: -100px;
  -webkit-transform: rotateZ(270deg);
          transform: rotateZ(270deg);
  left: -30px;
  font-size: 12px;
  color: yellow;
  font-weight: 700;
}

.tape {
  position: absolute;
  background-size: contain;
  height: 20px;
  width: 100px;
  z-index: 22;
}

.projects {
  position: relative;
}

.projects ul {
  list-style: none;
}

.projects li {
  margin: 10px 0;
  cursor: pointer;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: white;
}

.projects li h3 {
  -webkit-transition: all 0.5s !important;
  transition: all 0.5s !important;
  font-family: 'Libre Baskerville', serif;
  font-weight: bolder;
  padding: 20px 0;
  font-size: clamp(20px, 30px, 2vw);
  margin-bottom: 20px;
}

.projects li span {
  font-size: 10px;
  position: absolute;
  left: -10px;
}

.projects ul li::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 5px;
  bottom: 10px;
  border-bottom: 2px dashed yellow;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
}

.var1 {
  opacity: 1 !important;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(214, 154, 154, 0.2)), to(#310000));
  background-image: linear-gradient(to right bottom, rgba(214, 154, 154, 0.2), #310000);
}

.var2 {
  opacity: 1 !important;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(0, 0, 65, 0.2)), to(black));
  background-image: linear-gradient(to right bottom, rgba(0, 0, 65, 0.2), black);
}

.var3 {
  opacity: 1 !important;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(0, 0, 0, 0.2)), to(#003100));
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.2), #003100);
}

.var4 {
  opacity: 1 !important;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(49, 0, 0, 0.2)), to(black));
  background-image: linear-gradient(to right bottom, rgba(49, 0, 0, 0.2), black);
}

.selected::after {
  width: 100% !important;
}

.item:hover h3 {
  color: yellow;
}

@media (max-width: 920px) {
  .projects ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 20px;
            column-gap: 20px;
  }
  .main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .img {
    width: 70vw;
  }
  .projects ul li::after {
    bottom: 30px;
  }
  .weird {
    display: none;
  }
}

@media (max-width: 750px) {
  .projects ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: -200px;
  }
  .projects ul li::after {
    bottom: 10px;
  }
  .projects h3 {
    margin-bottom: 0px !important;
  }
  .projects {
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin-bottom: 20px;
  }
  .main-page {
    height: 150vh;
  }
  .background, .plastic, .gradient {
    height: 150vh !important;
  }
}
/*# sourceMappingURL=styles.css.map */