$main-padding: 30px;
html {
    scroll-behavior: smooth;
}
.res{
    position: relative;
    margin: auto;
    max-width: 1300px;
}

*{
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main{
    padding: 10px 0;
    z-index: 200;
}

.active{
    width: 50vw;
}

nav{
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    // overflow: hidden;
    width: 0vw;
    transition: all 0.3s ease;
    background: rgba(218, 252, 255, 0.5);
    backdrop-filter: blur(8px);
    z-index: 100;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    ul{
        list-style-type: none;
        :nth-child(2)
        {
            margin: 20px 0;
        }
        // overflow: hidden;
    }
    li{
        font-size: 3em;
        font-weight: bold;
        cursor: pointer;
        position: relative;
        transition: all 0.2s ease;
    }
}

.element:hover{
    color: rgb(2, 71, 71);
}


.navbtn{
    cursor: pointer;
    position: fixed;
    left: 7px;
    background: none;
    top: 50%;
    border: none;
    font-size: 2em;
    z-index: 200;

}


.element::before{
    transition: all 0.1s ease-in;
    content: '';
    position: absolute;
    width: 0%;
    height: 4px;
    background-color: rgb(2, 71, 71);
    bottom: -4px;
}

.element:hover:before{
    width: 100%;
}

head{
    display: flex;
    justify-content: space-between;
    padding: 0 $main-padding;
    font-weight: bold;
}

.intro{
    position: relative;
    min-height: 92vh;
    margin: 10px $main-padding;
    display: flex;
    align-items: center;
    justify-content: center;
    .bg{
        z-index: -1;
        position: absolute;
        background: rgb(45, 197, 197);
        width: 50%;
        height: 100%;
        top: 0;
        left: 0;
    }

    .text{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        // width: 50%;
        // justify-content: space-between;
        font-size: 5em;
        :nth-child(1)
        {
            margin-right: .3em;
        }
        .one{
            display: flex;
            :nth-child(2)
            {
                color: rgb(6, 138, 138);
                font-family: 'Dancing script';
                font-size: 1.2em;
            }
        }
    }
}

.links
{
    background: rgb(240, 240, 240);
    padding: 0 10px;
    position: absolute;
    .fb, .fiverr{
        cursor: pointer;
        width: 30px;
        height: 30px;
        img{
            width: 30px;
            height: 30px;
            // filter: grayscale(1);
        }
    }

    .fiverr{
        border-radius: 5px;
        overflow: hidden;
    }

    right: 0;
    top: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 10px;
}

.projects{
    min-height: 100vh;
    padding: $main-padding;
    padding-top: 100px;
}

.d1, .d2{
    width: 50px;
    height: 50px;
    background: rgb(45, 197, 197);
    position: absolute;
    border-radius: 50%;
}

.d2{
    background: rgba(45, 197, 197, 0.5);
    left: 30px;
}

.dots{
    position: relative;
}

.projects{
    h3{
        margin-top: 60px;
        font-size: 5em;
        color:rgb(22, 165, 165) ;
        margin-bottom: 20px;
    }

    img{
        width: 100%;
    }
}

.project{
    height: 500px;
    overflow: hidden;
    img{
        transition: all 1s ease;
    }
    position: relative;
}

.project:hover .showonhover{
    opacity: 1;
    width: 100%;
}

.showonhover{
    // z-index: 100;
    display: flex;
    // align-items: center;
    justify-content:center;
    flex-direction: column;
    position: absolute;
    width: 0%;
    opacity: 0;
    transition: all 0.5s ease;
    overflow: hidden;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    padding-left: 50px;
    padding-bottom: 50px;
    h3{
        font-family: 'Dancing Script';
    }
    // opacity: 0.5;
    p{
        color: white;
        font-size: 2em;
    }
}

.p1{
    margin: 20px 0;
}

.p2:hover img{
    transform: translateY(-500px);
    z-index: -1;
}

.mern{
    h3{
        font-size: 3em;
    }
    width: 100%;
    height: 100%;
    .images{
        width: 100%;
        height: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            // height: 30%;
            width: 30%;
            height: 80%;
            margin-bottom: 20px;
        }
        :nth-child(2){
            margin-left: 30px;
        }
    }
}

.contact{
    margin-top: 20px;
    position: relative;
    min-height: 80vh;
    padding: $main-padding;
    h3{
        font-size: 5em;
    }
}

.info{
    right: 50px;
    position: absolute;
    background-color: rgb(0, 6, 14);
    border-radius: 20px;
    padding: 40px;
    width: max-content;
    .dp{
        height: 100px;
        width: 100px;
        border-radius: 50%;
        overflow: hidden;
        img{
            height: 100px;
        }
        margin-bottom: 20px;
    }
    .name, .skills{
        color: white;
        font-size: 1.5em;
    }

    h4{
        font-size: 1.5em;
        margin: 10px 0;
    }

    .skill{
        position: relative;
        background: rgb(29, 29, 29);
        margin: 10px 0;
        border-radius: 30px;
        padding: 3px 0;
        padding-left: 10px;
        font-size: .7em;
        overflow: hidden;
        .per{
            margin-left: -10px;
            position: absolute;
            top: 0;
            height: 100%;
            background-color: green;
            border-radius: 30px;
        }

        span{
            position: relative;
        }
    }
}

.per1{
    width: 95%;
}
.per2{
    width: 90%;
}
.per3{
    width: 92%;
}

.social{
    margin-top: 50px;
}

.face, .fiverr_{
    cursor: pointer;
    img{
        height: 100px;
    }
    height: 160px;
    width: 300px;
    margin: 20px 0;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.face{
    background-color: rgb(30,92,195);
}

.fiverr_{
    background-color: rgb(80,192,116);

}



@media only screen and (max-width: 460px) {

    .text{
        h3{
            font-size: 30px !important;
        }
        .one{
            font-size: 30px !important;
            :nth-child(2)
            {
                margin-top: -5px !important;
            }
        }
    }

    .project{
        height: 170px !important;
    }

    .showonhover{
        font-size: 7px !important;
    }

    .info{
        top: 30%;
    }

    .social{
        display: flex;
        margin-top: 150%;
        flex-direction: row;
        column-gap: 20px;
    }

    .p2:hover img{
        transform: translateY(-160px);
        z-index: -1;
    }
}

@media only screen and (max-width: 930px) {
    .project{
        height: 350px;
    }

    .mern{
        position: relative;
        .showonhover{
            // position: relative;
            display: flex;
            p{
                width: 50%;
            }
            .images{
                display: flex;
                flex-direction: column;
                right: -200px;
                bottom: 40px;
                position: absolute;
                img{
                    width: 20%;
                    height: 140px;
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .text{
        h3{
            font-size: 40px;
        }
        .one{
            font-size: 40px;
            :nth-child(2)
            {
                margin-top: -5px;
            }
        }

        // color: white;
    }

    .project{
        height: 300px;
    }

    .showonhover{
        font-size: 12px;
    }

    .mern{
        p{
            width: 100% !important;
        }
        .images{
            display: none !important;
            height: 30% !important;
            img{
                width: 20% !important;
            }
        }
    }

    .social{
        .face, .fiverr_{
            width: min-content;
            height: max-content;
            padding: 20px;
            img{
                width: 30px;
                height: 30px;
            }
        }
    }
    .p2:hover img{
        transform: translateY(-160px);
        z-index: -1;
    }
}
