
.row1{
    position: absolute;
}

.landing{
    // margin-top: -50px;
    display: flex;
    width: 100%;
    justify-content: center;
    column-gap: clamp(100px, 300px, 10vw);
    min-height: 100vh;
    overflow: hidden;
    align-items: center;
    position: relative;
}

.bgText{
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    width: inherit;
    height: 100vh;
    opacity: 0.2;
    h1{
        font-family: 'Anton', sans-serif;
        font-size: 200px;
        line-height: 180px;
        top: 200px;
        z-index: -2;
        position: absolute;
    }
    h2{ 
        font-family: 'Anton', sans-serif;
        font-size: 200px;
        position: absolute;
        right: -50px;
        bottom: 0;
    }
    h3{ 
        font-family: 'Anton', sans-serif;
        position: absolute;
        font-size: 100px;
        left: 0px;
        bottom: 170px;
    }
    h5{
        font-family: 'Anton', sans-serif;
        position: absolute;
        font-size: 50px;
        right: 50px;
        top: 390px;
    }
    h6{
        font-family: 'Anton', sans-serif;
        position: absolute;
        font-size: 25px;
        bottom: 300px;
    }
}

.text{
    font-size: 30px;
    color: white;
}

.line1{
    display: flex;
    column-gap: 20px;
    font-size: 45px;
    h2{
        font-weight: 1000;
    }
}

.smiles{
    position: relative;
    :nth-child(2)
    {
        position: absolute;
        top: 2px;
        z-index: -1;
        color: rgb(255, 145, 0);
        left: -3px;
    }
}

.design{
    font-size: 100px;
    // background-color: white;
    width: fit-content;
    position: relative;
    color: white;
    h2{
        font-family: 'Libre Baskerville', serif;
    }
}

.designafter{
    top: 2px;
    position: absolute;
    left: 4px;
    z-index: -1;
    color: red;
    filter: blur(1px);
}

.designbefore{
    top: 0;
    position: absolute;
    right: 6px;
    z-index: -1;
    color: rgb(0, 189, 251);
}

.triangle1 {
    // -webkit-text-stroke: 30px black;
    background-size: cover;
    background-clip: text;
    backface-visibility: text;
    color: transparent;
    font-size: 600px;
  }

.triangles{
    position: relative;
    margin-top: -50px;
    // transform: rotate(30deg);
}

.triangle2{
    color: purple;
    opacity: 0.5;
    position: absolute;
    font-size: 300px;
    top: 65%;
    left: 65%;
    transform: translate(-50%, -50%);
}

.var6{
    opacity: 0.8 !important;
    background-image: linear-gradient(to right bottom, rgb(0, 119, 255), rgba(0, 0, 0, 0.4));
}

.gradient{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    opacity: 0.3;
    z-index: -1;
}

@media (max-width: 650px){
    .line1{
        font-size: 35px;
    }
    .text{
        font-size: 25px;
    }
    .design{
        font-size: 60px;
    }
}

@media (max-width: 450px){
    .line1{
        font-size: 20px;
    }
    .text{
        font-size: 15px;
    }
    .design{
        font-size: 45px;
    }
}